#photo {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: rgb(142, 36, 170);
    color: white;
    padding: 1.3rem;
    border-radius: 50%;
    zoom: 1.5;
}