.chat {
    transition: background-color 1s;
    display: flex;
    width: 100%;
    svg{
        background-color: white;
        color:aqua;
        display: flex;
        font-size: 3.5rem;
        padding: 5%;
    }
}

.info_chat {
    
    border-bottom-color: gray;
    border-bottom-style: solid;
    display: flex;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
    padding-bottom: 1rem;
}

.small_message {
    margin-left: auto; 
    font-size: 1rem;
    color: rgba(25, 25, 25, 0.32);
    margin-bottom: 0.05rem;
    margin-top: 0.05rem;
}

.indicators{
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: auto;
}

.not_read {
    color: white;
    background-color: rgb(142, 36, 170);
    font-size: 1rem;
    margin-left: auto;
    margin-bottom: auto;
    padding: 0.5rem;
    border-radius: 10px;
}