.form {
    width: 100%;
    display: flex;
    color: rgba(25, 25, 25, 0.32);
    border: 1px solid rgba(25, 25, 25, 0.32);
    zoom: 2;
    position: fixed;
    bottom: 0.01rem;
    svg{
        transition: color 1s;
        background-color: white;
        &:active{
            color:aqua;
        }
    }
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}
