.cap {
    background-color:rgb(142, 36, 170);
    display: flex;
    flex-wrap: wrap;
}

.small_elements_top {
    margin-left: auto;
    background-color: rgb(142, 36, 170);
    color: rgb(206,147,216);
    font-size: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.white_elements_top {
    background-color: rgb(142, 36, 170);
    color: white;
    font-size: 50px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
}