.form_profile {
    display: flex;
    flex-wrap: wrap;
    color: black;
    border-bottom: 3px solid rgb(154, 154, 154);
    background-color: rgb(237,237,237);
    border-radius: 5px 5px 0px 0px;
    zoom: 2;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3rem;
    .text_form {
        color: rgb(154, 154, 154);
        padding: 0.1rem 1rem;
        width: 100%;
    }
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: 100%;
    background-color: rgb(237,237,237);
}
.remark{
    color: rgb(154, 154, 154);
    margin-left: 3rem;
}