#ChatPage{
    .cap{
        &>svg{
            font-size: 2.5rem;
            padding: 0.4rem;
        }
        .page_name{
            font-size:1.5rem;
            padding: 0.4rem;
        }
    }
}