#edit {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: block;
    background: rgb(255,213,79);
    color: rgb(117,97,36);
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(255,213,79);
	transform: scale(1);
    &:hover{
        animation: pulse 2s infinite;
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(221, 208, 167);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}