.HistoryCap{
    border-bottom-style: solid;
    width: 100%;
    font-size: 200%;
    color: chocolate;
    padding-left: 2rem;
}
button{
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: aqua;
}